{% extends "layout.html"%}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <p style="color:rgb(34, 105, 197);">Choose csv file to upload</p>
            <form action="/validates" method="POST" enctype="multipart/form-data">    
                <input type="file" name="file" accept=".csv,.txt">
                <input type="submit"
                    value="Validate Data" 
                    style="display:block;
                        padding:4px 8px;
                        background-color:rgb(34, 105, 197);
                        color:#ffffff;
                        margin-top:16px;
                        border-color:rgb(34, 105, 197);">  
            </form>
        </div>
    </article>
{% endblock %}
